/* Started CSS index */
/**
* This UI/UX Project is Complected and
* Mrs min by Mobile Responsive Than
* Some Plays I'am Writed Mrs CommandLine
* And Also Mobile Responsive Scrollbar is Not Fixed Some CSS issus and After Rafar Google and I'am Fix...
*/

/* TODO: Saran Fix The Mobile Responsive Scrollbar CSS */

/* Started CSS Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* Colors */
    --body-color: #fff;
    --bg-body-color: #e9ecef;
    --box-border-color: #212529;
    --text-color: #000;
    --timer-color: #999;
    --more-color: #e9ecef;
    --bs-dark: #e9ecef;
    --bg-chat-color: #f8f9fa;
    --chat-color: #212529;

    /* Transition */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body.dark{
    --body-color: #000;
    --bg-body-color: #18191a;
    --box-border-color: #fff;
    --text-color: #fff;
    --timer-color: #999;
    --more-color: #999;
    --bs-dark: #212529;
    --bg-chat-color: #1a1d21;
    --chat-color: #a7a6a8;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    padding-right: 0px !important;
    overflow: auto !important;
}
/* Ending CSS Body */

/* Started Navbar */
.rs-navbar {
    /* Mrs-CSS */
    height: 3rem !important;
    z-index: 1;
}

/* Mrs-CSS */
.menu-links {
    bottom: 20px;
    left: 20px;
    border-radius: 2rem;
    right: 20px;
    box-shadow: 0 0 1px var(--box-border-color);
    background: var(--body-color);

}

/* Mrs-CSS */
span.fs-4.hidden-text.text {
    display: block;
}


/* Reusable code - Here */
.sidebar li{
    height: 50px;
}

.sidebar .icon{
    border-radius: 2rem;
}

.sidebar .text,
.sidebar .icon{
    letter-spacing: .05em;
    color: var(--text-color);
    transition: var(--tran-03);
    text-transform: none;
}

.sidebar li a{
    border-radius: 2rem;
    transition: var(--tran-03);
    cursor: pointer;
    justify-content: center;
}

.sidebar li a:hover{
    background-color: none;
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

/* This is The Full Page Light Mode and Dark Mode CSS */
.sidebar .mode{
    border-radius: 6px;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar .bottom-content,
.sidebar .bottom-content hr.m-0{
    background-color: var(--body-color);
    transition: var(--tran-03);
    box-shadow: 0 0 1px var(--more-color);
}

span.mode-text.text.ms-3 {
    text-transform: unset;
    font-size: initial;
}
span.mode-text.text.ms-4 {
    text-transform: unset;
    font-size: initial;
}

.sun-mode {
    height: 30px;
    width: 30px;
    opacity: 1;
}

body.dark .sun-mode {
    display: none;
    opacity: 0;
}

.moon-mode {
    width: 27px;
    opacity: 0;
}

body.dark .moon-mode {
    left: 0;
    opacity: 1;
    position: inherit;
}


.bottom-content .toggle-switch{
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch{
    height: 22px;
    width: 40px;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--box-border-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--body-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}
/* Ending The Full Page Light Mode and Dark Mode CSS */
/* Ending The Navbar */


/* Mobile responsive text hidden and conditions css */
body.dark .text{
    text-decoration: none;
    color: var(--text-color) !important;
}

.text{
    text-decoration: none;
    color: var(--text-color) !important;
}

.unc-text {
    text-decoration: none;
}

.dropdown-toggle::after {
    display: none !important;
}
/* Ending the hidden text and conditions css */


/* Main Body and Post Image Animation CSS */
.card {
    border-color: var(--body-color);
    background: var(--body-color);
    color: var(--text-color);
}

.card-img {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.card-image.w-100 {
    height: 30rem;
    position: relative;
    width: auto !important;
    overflow: hidden;
    box-shadow: none;
    margin: 1px;
    background: #000;
}
/* Ending Main Body and Post Image Animation CSS */

button.btn.p-0.list-inline-item {
    border: none;
    color: var(--text-color);
}

button.btn.p-0.list-inline-item.ms-1 {
    border: none;
}


/* Mobile responsive media screen css */
@media (min-width: 1200px) {
    .list {
        max-width: 50% !important;
        margin-left: 15rem !important;
    }
}

@media (min-width: 992px) {
    .list {
        max-width: 70%;
        margin-left: 13rem;
        margin-right: 30rem;
    }

    .sidebar li a {
        justify-content: start !important;
    }

    li.nav-link.d-none.align-items-center.dropup {
        width: 184px !important;
    }

    .text.nav-link.d-none.align-items-center.mt-1 {
        display: flex !important;
    }

    i.p-0.icon {
        background: none !important;
        color: var(--text-color) !important;
        width: 3rem;
    }

    .sidebar .nav-link {
        margin-top: 28.8px !important;
    }

    .hidden-texts {
        display: block !important;
    }

    .sidebar li a:hover{
        background-color: var(--bg-body-color) !important;
    }

    .col-12 {
        max-width: 80%!important;
    }

    /* Non-Mrs-CSS */
    .my-3 {
        display: block !important;
        margin-top: auto !important;
    }

    /* Non-Mrs-CSS */
    span.fs-4.hidden-text.text {
        display: block !important;
    }

    .Next-btn {
        margin-left: 26.5rem !important;
    }

}

@media (min-width: 768px) {
    .col-12 {
        max-width: 88%;
        margin-right: 2rem;
        margin-left: 5rem;
    }

    .mt {
        margin-top: 1.5rem !important;
        margin-bottom: 1.8rem !important;
        border-radius: 0.375rem !important;
    }

    .rs-navbar {
        background: var(--body-color);
        box-shadow: 0 0 1px var(--box-border-color);
    }

    li.nav-link.d-none.align-items-center.profile.position-fixed.me-0 {
        display: block !important;
    }

    nav.navbar.w-100.h-100.p-2.position-fixed.rs-navbar.sidebar {
        display: block !important;
    }

    .sidebar li a:hover{
        background-color: 0 !important;
    }

    a.uploadround:hover {
        background: none !important;
    }

    .hidden-texts {
        display: none;
    }

    .sidebar li a {
        justify-content: center;
        margin-right: 0px !important;
    }

    .text.nav-link.d-none.align-items-center.mt-1 {
        display: flex !important;
        justify-content: center;
    }

    li.nav-link.d-none.align-items-center.dropup {
        display: flex !important;
        bottom: 20px;
        width: 41px;
    }

    /* Non-Mrs-CSS */
    span.fs-4.hidden-text.text {
        display: none;
    }

    /* This is the footer image in display the Mrs */
    .hidden-img {
        display: none;
    }

    /* Non-Mrs-CSS */
    .my-3 {
        display: block !important;
        margin-top: 16px !important;
    }

    /* Non-Mrs-CSS */
    .rs-navbar {
        height: 100% !important;
        width: auto !important;
        /* z-index: 0; */
    }

    /* Non-Mrs-CSS */
    .menu-links {
        display: block !important;
        /* Non-Mrs-CSS */
        position: inherit !important;
        box-shadow: 0 0 0;
    }

    /* Non-Mrs-CSS */
    li.nav-link {
        margin-top: 50% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    }

    /* Non-Mrs-CSS */
    span.fs-4.hidden-text.text {
        display: none;
    }

    /* Non-Mrs-CSS */
    ul.bottom-content.dropdown-menu.p-2.show {
        left: 2rem !important;
    }

    /* Non-Mrs-CSS */
    .text.d-flex.align-items-center.mt-1 {
        justify-content: center;
        margin-top: auto !important;
    }

    /* Non-Mrs-CSS */
    .card-body {
        overflow: hidden !important;
    }

    /* Non-Mrs-CSS */
    .Next-btn {
        cursor: pointer !important;
        display: block !important;
        margin-top: 1.5rem !important;
        margin-left: 28.2rem;
    }

    /* Non-Mrs-CSS */
    .prev-btn {
        display: block !important;
        margin-top: 1.5rem !important;
    }

    .card-image.w-100 {
        box-shadow: 0 0 1px var(--box-border-color);
    }

}

@media (min-width: 576px) {
    /* Write Code */
}
/* Ending mobile responsive media screen css */


/* Started Full Web Scrollbar Styles CSS */
/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
/* ::-webkit-scrollbar-track {
    background: var(--box-border-color);
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: var(--body-color);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */
/* Started Full Web Scrollbar Styles CSS */


/* This is The Bootstrap Rewrite and This Don't Use CSS */
.form-check-input:focus {
    border-color: #fff;
    outline: none;
    box-shadow: 0 0 0 0;
}

.form-check-input:checked {
    background-color: var(--box-border-color);
    --bs-form-check-bg-image: none !important;
    border-color: #fff;
}
/* Ending The Bootstrap Rewrite and This Don't Use CSS */
/* Ending CSS index */


/* start: Chat */
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--body-color);
    position: relative;
}
.remove-msg {
    background: var(--text-color);
    border-radius: 2rem;
    height: 28px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
}
/* end: Chat */


/* start: Content side */
.content-sidebar {
    background-color: var(--body-color);
    box-shadow: 0 0 1px var(--box-border-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    color: var(--box-border-color);
    align-items: center;
}
.content-messages {
    overflow-y: auto;
    height: 100%;
}
.content-messages-list {
    list-style-type: none;
    padding: 8px 0;
}
.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-700);
    padding: 6px 16px;
}
.content-messages-list > * > a:hover {
    background-color: var(--slate-50);
}
.content-messages-list > .active > a {
    background-color: var(--slate-100);
}
.g_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 10.8rem;
    font-size: medium;
}
span.text.edit-title-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 13rem;
}
.content-message-title {
    color: var(--bs-dark-text);
    font-size: 13px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content-message-title > * {
    position: relative;
    z-index: 1;
    padding: 0 8px 0 8px;
    background-color: var(--body-color);
}
.content-message-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 0 0.1px var(--box-border-color);
}
.content-message-image {
    width: 40px;
    height: 40px;
    border-radius: 4rem;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 16px;
}
.content-message-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
    text-transform: capitalize !important;
    letter-spacing: 0 !important;
}
.content-message-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
    color: var(--text-color);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 10rem;
}
.content-message-text {
    font-size: 13px;
    color: var(--bs-dark-text);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.content-message-more {
    text-align: right;
}
.content-message-unread {
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: green;
    padding: 2px 4px;
    border-radius: 4px;
}
.content-message-time {
    font-size: 12px;
    color: var(--bs-dark-text);
    font-weight: 500;
}
/* end: Content side */



/* start: Conversation */
.conversation {
    background-color: var(--bg-body-color);
    height: 100%;
    padding-left: 0;
    display: none;
}
.conversation.active {
    display: flex;
    flex-direction: column;
}
.conversation-top {
    padding: 8px 10px;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
}
.conversation-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--bs-dark-text);
    margin-right: 12px;
    display: none;
}
.conversation-back:hover {
    background-color: var(--slate-100);
    border-radius: 50%;
    color: var(--slate-600);
}
.conversation-back:active {
    background-color: var(--slate-200);
}
.conversation-user {
    display: flex;
    align-items: center;
}
.conversation-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-user-name {
    font-weight: 500;
    font-size: 17px;
    color: var(--text-color);
}
.conversation-user-status {
    color: var(--bs-dark-text);
    font-size: 13px;
}
.conversation-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: var(--slate-600);
    margin-left: 4px;
}
.conversation-buttons > :hover {
    background-color: var(--slate-100);
    color: var(--slate-700);
}
.conversation-buttons > :active {
    background-color: var(--slate-200);
}

.conversation-main {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.conversation-wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
.conversation-item.me {
    flex-direction: row;
}
.conversation-item-side {
    margin-left: 8px;
    margin-right: 8px;
}
.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
.conversation-item-image {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
}
.conversation-item-box {
    width: 18rem;
    position: relative;
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-user {
    color: var(--bs-white);
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    text-overflow: ellipsis;
}
.conversation-item-text {
    padding: 5px 16px 5px;
    background-color: var(--bs-green);
    color: var(--bs-white);
    font-size: 14px;
    border-radius: 10px 10px 0 10px;
    width: fit-content;
    margin: auto;
    margin-right: unset;
}
.conversation-item.me .conversation-item-text {
    margin: auto;
    margin-left: unset;
    width: fit-content;
    border-radius: 10px 10px 10px 0;
}
.conversation-item.me .conversation-item-text {
    background-color: var(--bs-info-text);
    color: var(--bs-white);
}
.conversation-item-time {
    font-size: 10px;
    color: var(--bs-white);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
.conversation-item.me .conversation-item-time {
    color: var(--bs-white);
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--body-color);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: var(--emerald-500);
    color: var(--body-color);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-toggle:active {
    background-color: var(--emerald-600);
}
.conversation-item-dropdown-list {
    position: absolute;
    top: 43px;
    right: 19rem;
    background-color: var(--bs-dark);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    list-style-type: none;
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--bs-dark-text);
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
}
.coversation-divider {
    text-align: center;
    font-size: 13px;
    color: var(--bs-dark-text);
    margin-bottom: 16px;
    position: relative;
}
.coversation-divider::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
}
.coversation-divider span {
    display: inline-block;
    padding: 0 8px;
    background: blueviolet;
    border-radius: 1rem;
    color: #fff;
    position: relative;
    z-index: 1;
}

.conversation-form {
    padding: 8px 16px;
    background-color: var(--body-color);
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}
.conversation-form-group {
    width: 100%;
    position: relative;
}
.conversation-form-input {
    background-color: var(--bs-dark);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 10px 40px 10px 40px;
    font: inherit;
    font-size: 14px;
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.5;
    max-height: calc(20px + ((14px * 2) * 6));
}
.conversation-form-input:focus {
    border-color: var(--bs-dark-text);
}
.conversation-form-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    position: fixed;
    background-color: transparent;
    outline: transparent;
    font-size: 20px;
    color: var(--bs-dark-text);
    cursor: pointer;
    flex-shrink: 0;
}
button.conversation-form-button.conversation-form-submit.text {
    transform: rotate(45deg);
    margin-right: 5px;
}
.conversation-form-button:hover {
    color: var(--text-color);
}
.conversation-form-submit {
    color: var(--text-color);
}
.conversation-form-more {
    padding: 16px 16px;
    background-color: var(--body-color);
    opacity: 0;
    display: none;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: bottom right;
    transition: all .15s ease-in-out;
}
.conversation-form-more.active {
    opacity: 1;
    display: block;
    visibility: visible;
    transform: scale(1);
}
.conversation-form-group-more {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.more-conversation {
    display: flex;
    text-decoration: none;
    color: var(--bs-dark-text);
    align-items: center;
    flex-direction: column;
}
.more-conversation-icon {
    padding: 0.8rem 0.9rem;
    background: #00f;
    color: var(--bs-white);
    border-radius: 2rem;
    height: 3rem;
    cursor: pointer;
}

.conversation-default {
    align-items: center;
    justify-content: center;
    color: var(--bs-dark-text);
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}
/* end: Conversation */



/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

/* @media screen and (min-width: 992px) {
    .conversation {
        padding-left: 12.5rem !important;
    }
} */

@media screen and (min-width: 767px) {
    .conversation {
        /* padding-left: 3.1rem; */
        padding-right: 17.5rem;
    }
}

@media screen and (max-width: 767px) {

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        width: 100% !important;
    }

    .chat-content {
        position: relative;
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-back {
        display: flex;
    }
    /* .conversation-default.active {
        display: none;
        padding: 16px;
    } */

    .conversation-item-dropdown-list {
        top: 46px !important;
        right: 1.5rem !important;
    }
}
/* end: Breakpoints */