.h5, .h6, h5, h6 {
    margin-bottom: 0.125rem;
}

.h5, h5 {
    font-size: 0.9999rem;
}

.h6, h6 {
    font-size: 0.875rem;
}

.pb-lg-12 {
    padding-bottom: 3.5rem;
}
.my-8 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

h6, p {
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

/* Chat: Header */
.main{
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.container
{
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.25rem);
    padding-left: var(--bs-gutter-x, 1.25rem);
    margin-right: auto;
    margin-left: auto;
}
.d-flex.flex-column.h-100.position-fixed.m-0 {
    width: -webkit-fill-available;
    left: 0;
}
.border-bottom {
    box-shadow: 0 0 1px var(--box-border-color);
    border-bottom: none !important;
}
.icon {
    display: inline-block;
    line-height: 1;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #757476 !important;
}
.avatar, .avatar-img, .avatar-text
{
    height: 44px;
    width: 44px;
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.avatar-sm {
    height: 34px;
    width: 34px;
    box-shadow: 0 0 0 2px var(--bg-body-color);
}
.avatar-group .avatar-sm+.avatar-sm {
    margin-left: -13.6px;
}
.avatar .avatar-text {
    background: #2787f5;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    line-height: 0;
    height: 100%;
    width: 100%;
}
.col-auto.owner-list {
    display: none;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
h5.text-truncate {
    color: var(--text-color);
}
p.text-truncate.mb-0 {
    color: #757476;
    font-size: 14px;
}

/* Chat: Content */
.hide-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    display: flex;
    -webkit-box-align: end;
    align-items: flex-end;
}

.message-inner {
    max-width: 85%;
    min-width: 0;
    -webkit-box-flex: 1;
    flex: 1;
    margin-left: 0.5rem;
}

.message-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.message-content + .message-content {
    margin-top: 0.75rem;
}

.message-content:not(:last-child) .message-text {
    border-bottom-left-radius: 0.25rem;
}

.message-content:not(:first-child) .message-text {
    border-top-left-radius: 0.15rem;
}

.message-text {
    background: var(--bg-chat-color);
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
    color: var(--chat-color);
    overflow: hidden;
    margin-right: 1rem;
}

.text-reset {
    --bs-text-opacity: 1;
    color: inherit !important;
}

.icon > svg {
    height: 1rem;
    width: 1rem;
}

.dropdown-menu {
    -webkit-box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.dropdown-menu.show {
    display: block;
    padding: 5px;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.9375rem;
    color: var(--chat-color);
    text-align: left;
    list-style: none;
    background-color: var(--bg-chat-color);
    background-clip: padding-box;
    border: 0 solid var(--bg-chat-color);
    border-radius: 0.6rem;
    inset: 0px 0px auto auto;
    transform: translate(0px, 23px);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #cacacb;
    background-color: #101316;
}
a:hover {
    color: #1f6cc4;
}
.dropdown-item {
    border-radius: 0.6rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: var(--chat-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.message-footer {
    line-height: 1.3;
    margin-top: 0.25rem;
}

.extra-small {
    font-size: 0.665em;
}

.message.message-out {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.message + .message {
    margin-top: 1rem;
}

.message-out .message-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.message-out .message-text {
    background: #2787f5;
    border-radius: 0.6rem;
    color: #fff;
}
.message-out .message-gallery, .message-out .message-text {
    margin-left: 1rem;
    margin-right: 0;
}

.blockquote {
    border-left: 2px solid currentColor;
    padding: 0 1rem;
}

.blockquote {
    margin-bottom: 0.5rem;
    font-size: inherit;
}

.blockquote > :last-child {
    margin-bottom: 0;
}

.small, small {
    font-size: 0.775em;
}

.message-out .message-footer {
    text-align: right;
}

.message-divider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}


.chat-footer {
    width: calc(100% + (-2rem));
    margin-left: 1rem;
    z-index: 1000;
}
.chat-footer::before {
    position: absolute;
    background: rgb(22 25 28 / 0%);
    --webkit-backdrop-filter: blur(10px) saturate(200%);
    backdrop-filter: blur(10px) saturate(200%);
    display: block;
    height: 4.5rem;
    width: calc(100% + 2rem);
    left: -0.9rem;
    bottom: 0;
    content: "";
}

.dz-preview {
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    position: relative;
    display: flex;
}

.chat-form {
    position: relative;
    padding: 0.5rem;
    background: #1e2126;
}

.btn-icon {
    line-height: 0;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    color: #adb5bd !important;
    height: calc(1.6em + 1.1875rem + 4px);
    width: calc(1.6em + 1.1875rem + 4px);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.59375rem 1.125rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #a7a6a8;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 2px solid #ffffff00;
    appearance: none;
    border-radius: 0.6rem;
}
.form-control:focus {
    color: #a7a6a8;
    background-color: #ffffff00;
    border-color: #ffffff00;
    outline: none;
    box-shadow: none;
}
.form-control::placeholder {
    color: #a7a6a8;
}

.input-group-text {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.59375rem 1.125rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #a7a6a8 !important;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff00;
    border: 2px solid #ffffff00;
    border-radius: 0.6rem;
}

.btn-icon {
    line-height: 0;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
    height: calc(1.6em + 1.1875rem + 4px);
    width: calc(1.6em + 1.1875rem + 4px);
}

.btn-primary {
    color: #fff !important;
    background-color: #2787f5;
    border-color: #2787f5;
}



@media (min-width: 768px) {
    .container
    {
        max-width: none;
        padding-left: 0;
    }

    .avatar-responsive.avatar
    {
        height: 44px;
        width: 44px;
    }

    .col-auto.owner-list {
        display: block;
    }

    .message-inner
    {
        max-width: 70%;
    }

    .d-flex.flex-column.h-100.position-fixed.m-0 {
        left: auto;
    }
}

@media (min-width: 992px) {
    .container
    {
        max-width: 960px;
        padding-left: 20.3rem;
    }

    .pb-lg-12 {
        padding-bottom: 3.5rem !important;
    }

    .message-inner
    {
        max-width: 70%;
    }

    .message + .message {
        margin-top: 1.5rem;
    }

    .main {
        padding-left: 0 !important;
    }
    .content-sidebar {
        width: 325px !important;
    }
    .content-sidebar-title {
        display: flex !important;
    }

    .back-home {
        justify-content: unset !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        padding-left: 3%;
    }
}

@media (min-width: 1200px) {
    .container
    {
        max-width: none;
        padding-left: 20.3rem;
    }

    .message-inner
    {
        max-width: 50%;
    }
}

@media (min-width: 1440px) {
    .container
    {
        max-width: 1080px;
    }
}
@media (min-width: 1200px) {
    .main
    {
        height: 100vh;
    }
}
@media (min-width: 768px) {
    .main {
        padding-left: 4.5rem;
    }

    .content-sidebar {
        width: 72px;
    }
    .content-sidebar-title {
        display: none;
    }
}